{% extends 'users/base.html' %}

{% block content %}
<div class="container">
  <main>
      <div class="col-md-7 col-lg-8">

            <form action="{% url 'users:new_photo' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
         <div class="col-lg-6">
                        <div class="form-group">
                            <label class="small mb-1" for="name">Название фото</label>
                            <input type="text" name="name" class="form-control py-4" required="" id="id_first_name">
                        </div>
                    </div>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Категории</button>
              <div class="dropdown-menu">

                  {% for category in categorys %}
                    <a class="dropdown-item" href="#">{{category.name}}</a>
                  {% endfor %}
              </div>
          </div>
               <div class="col-lg-6">
                        <div class="form-group">
                            <label class="small mb-1" for="id_first_name">Описание фото</label>
                            <input type="text" name="first_name" class="form-control py-4" required="" id="id_first_name">
                        </div>
                    </div>
          <div class="form-row">
           <div class="form-row mb-2">
                    <div class="col-lg-12">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" accept="image/*" id="id_image">
                            <label class="custom-file-label" for="id_image">
                                Выберите изображение
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" style="margin-top: 33px;">
                    <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                </div>
          </div>
        </form>

      </div>
  </main>
</div>
{% endblock %}