{% extends 'photography/base.html' %}
{% load static %}


{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto"></header>

  <main class="px-3">
    <h1><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Cover your page." data-translation="Создайте обложку для своей страницы." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Создайте обложку для своей страницы.</ya-tr-span></h1>

  </main>

  <footer class="mt-auto "></footer>
</div>
{% endblock %}